<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lista svih komitenata</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    #
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-xs-3 col-sm-3">
                        <input class="form-control"
                               name="searchBox"
                               ng-model="searchBox"
                               placeholder="Pretraga">
                    </div>
                    <br>
                    <br>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Naziv komitenta</th>
                            <th>Adresa</th>
                            <th>Telefon</th>
                            <th>JIB</th>
                            <th>PIB</th>
                            <th>Opcije</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX"  ng-repeat="komitent in allKomitent | filter: searchBox">
                            <td>{{komitent.id}}</td>
                            <td><a ng-href="#/Komitent/{{komitent.id}}">{{komitent.nazivKomitenta}}</a></td>
                            <td>{{komitent.telefon}}</td>
                            <td>{{komitent.adresa}}</td>
                            <td>{{komitent.jib}}</td>
                            <td>{{komitent.pib}}</td>
                            <td>
                                <a ng-href="#/allKomitents" ng-click="deleteKomitent(komitent.id)">Obriši</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>